:root {
  font-size: 87.5%;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  color: #1C1C1E;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #a7b5be;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

main {
  flex: 1;
  margin: 150px 0px 100px 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, sans-serif;
  margin: 3%;
  text-wrap: nowrap;
}

section > p {
  margin-left: 1em;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 5px 30px 5px;
  background-color: #73787a;
}
footer img {
  width: 40px;
  height: 40px;
}
footer a:first-child {
  width: 40px;
  height: 40px;
}

body > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #2ECC71;
}
body > header a {
  text-decoration: none;
}
@media (min-width: 768px) {
  body > header a {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
  }
}
@media (min-width: 768px) {
  body > header a:hover {
    text-decoration: underline;
    transform: translateY(0.25em);
    transition: all 0.3s ease-in-out;
  }
}
body > header nav button {
  background-color: transparent;
  border: none;
}
@media (min-width: 768px) {
  body > header nav button {
    display: none;
  }
}
body > header nav ul {
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;
}
@media (min-width: 768px) {
  body > header nav ul {
    display: flex;
    flex-direction: row;
  }
}
body > header nav ul.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  width: 100%;
  background-color: rgba(46, 46, 46, 0.95);
  padding: 10px;
}
body > header nav ul.active a {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #2ECC71;
}
body > header nav ul.active a:before {
  content: ">";
}
@media (min-width: 768px) {
  body > header nav li {
    padding: 10px;
  }
}

main > header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign, .sign__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 20px 0px;
  height: auto;
}
.sign input, .sign__form input {
  height: 50px;
  width: 90%;
  border: 1px solid #a7b5be;
  border-radius: 15px;
  margin: 5px 0px 5px 0px;
  padding-left: 10px;
}
.sign p, .sign__form p {
  margin: 0;
  font-size: 1.5rem;
}
.sign div > input, .sign__form div > input {
  height: 20px;
  width: 20px;
}

.sign::before {
  position: relative;
  content: "";
  display: block;
  width: 90%;
  height: 0.25em;
  background: #73787a;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px 20px 0px;
}
.login input {
  height: 50px;
  width: 90%;
  border: 1px solid #a7b5be;
  border-radius: 15px;
  margin: 5px 0px 5px 0px;
}
.login input[type=text], .login input[type=password] {
  padding-left: 10px;
}
.login__checkboxes {
  width: 100%;
  padding: 0px 25px 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.login__checkboxes input {
  height: 20px;
  width: 20px;
}
.login__checkboxes-remember, .login__checkboxes-showpassword {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.login__checkboxes-remember input, .login__checkboxes-remember p, .login__checkboxes-showpassword input, .login__checkboxes-showpassword p {
  margin: 0px 5px 0px 0px;
}
.login a {
  margin: 5px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu input {
  height: 50px;
  width: 90%;
  border: 1px solid #a7b5be;
  border-radius: 15px;
  margin: 0px 0px 15px 0px;
  padding-left: 10px;
}
.menu select {
  margin: 0px 0px 15px 0px;
  height: 40px;
  text-align: center;
  font-size: 1.25em;
  border-radius: 15px;
}

.personal {
  display: flex;
  flex-direction: column;
}
.personal header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.personal header div {
  font-size: 1.5em;
  border: none;
  outline: none;
  box-shadow: none;
  text-decoration: none;
  background: transparent;
}
.personal header div[contenteditable=true]::after {
  content: "";
  position: relative;
  display: block;
  width: 100px;
  height: 5px;
  background: #73787a;
}
.personal header button {
  border: none;
  background: transparent;
}
.personal header .cancel {
  position: relative;
  top: 30px;
  right: 70px;
}
.personal header .confirm {
  position: relative;
  top: 1px;
  left: -30px;
}
.personal header img:nth-child(2) {
  position: relative;
  top: -25px;
  left: 40px;
}
.personal header img:last-child {
  position: relative;
  top: -25px;
  left: 50px;
  scale: 90%;
}
.personal__mail, .personal__pass {
  display: flex;
  flex-direction: row;
}
.personal__mail input, .personal__pass input {
  height: 50px;
  margin: 10px 0px 10px 30px;
  padding: 10px;
  border-radius: 15px;
}
.personal__mail input:disabled, .personal__pass input:disabled {
  filter: brightness(0.5);
  color: #73787a;
}
.personal__mail button, .personal__pass button {
  position: relative;
  top: 10px;
  left: 50px;
  height: 50px;
  border-radius: 15px;
  background: transparent;
  border: none;
}
.personal__mail #info, .personal__pass #info {
  display: block;
  width: auto;
  position: relative;
  top: 120px;
  right: 520px;
  font-size: 1.25em;
}
.personal__mail #response, .personal__pass #response {
  position: relative;
  top: 40px;
  left: -205px;
  font-size: 1.25em;
  text-align: center;
}
.personal__mail .repeat, .personal__pass .repeat {
  position: relative;
  top: 70px;
  right: 222px;
}
.personal__mail .cancel, .personal__pass .cancel {
  position: relative;
  top: 10px;
  left: 30px;
}
.personal__mail .confirm, .personal__pass .confirm {
  position: relative;
  top: 10px;
  left: 50px;
}
.personal__mail-cancel, .personal__pass-cancel {
  top: 80px !important;
  left: -218px !important;
}
.personal__mail-confirm, .personal__pass-confirm {
  top: 80px !important;
  left: -198px !important;
}
.personal #show {
  height: 24px;
  position: relative;
  top: 20px;
  left: -160px;
}

.goback {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.goback input {
  width: 150px;
  height: 50px;
  margin: 10px 0px 10px 0px;
  padding: 10px;
  border-radius: 15px;
}

.verification {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 200px 0px 200px 0px;
  text-align: center;
}
.verification__code {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0px 50px 0px 50px;
  border: none;
  outline: none;
  box-shadow: none;
  text-decoration: none;
}
.verification__code .code {
  height: 60px;
  width: 60px;
  border: 1px solid #1C1C1E;
  border-radius: 15px;
  font-size: 1.5em;
  text-align: center;
  align-content: center;
}
.verification button {
  margin: 25px 0px 0px 0px;
  align-self: center;
  width: 100px;
  height: 50px;
  border-radius: 15px;
  font-size: 1.25em;
  background-color: #2ECC71;
  color: #1C1C1E;
}
.verification #response {
  font-size: 1.25em;
  color: red;
}

.added {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 200px 0px 200px 0px;
}
.added span {
  text-decoration: underline #73787a;
  font-style: italic;
  color: #148042;
}
.added button {
  width: 150px;
  height: 70px;
  border-radius: 15px;
  border: none;
  background-color: #2ECC71;
  color: #1C1C1E;
  font-size: 1.5em;
}

.download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.download h1 {
  margin: 30px 0px 30px 0px;
}
.download__desktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.download__desktop button {
  display: inline-flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 15px;
}
.download__desktop button::after {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  content: url("../img/downloads.png")/"Download";
}
.download__desktop::after {
  margin-top: 15px;
  position: relative;
  content: "";
  display: block;
  background: #73787a;
  width: 90%;
  height: 0.25em;
  border: 1px solid;
  border-radius: 15px;
  margin-top: 50px;
}
.download__moblie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.download__moblie__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 30px 50px 30px;
  text-align: center;
}
.summary select {
  height: 40px;
  align-self: center;
  text-align: center;
  border-radius: 15px;
  font-size: 1.25em;
}
.summary .fav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.summary .fav img {
  width: 50px;
  height: 50px;
}
.summary .topLeagues {
  table-layout: auto;
  width: 100%;
  text-align: center;
  font-size: 1.25em;
  margin: 20px 0px 20px 0px;
  border-collapse: collapse;
}
.summary .topLeagues img {
  width: 32px;
  height: 32px;
}
.summary .topLeagues th {
  background-color: #2ECC71;
}
.summary .topLeagues td {
  padding-top: 5px;
}
.summary .topLeagues th:nth-child(2) {
  border-left: 1px solid #a7b5be;
  border-right: 1px solid #a7b5be;
}
.summary .topLeagues tr:nth-child(-n+6) td:nth-child(1) {
  border-right: 1px solid;
  border-bottom: 1px solid;
}
.summary .topLeagues tr:nth-child(-n+6) td:nth-child(2) {
  border-bottom: 1px solid;
}
.summary .topLeagues tr:nth-child(-n+6) td:nth-child(3) {
  border-right: 1px solid;
  border-bottom: 1px solid;
}
.summary .topLeagues tr:nth-child(-n+6) td:nth-child(4) {
  border-bottom: 1px solid;
}
.summary .topLeagues tr:nth-child(2) td:nth-child(1)::before {
  display: inline-block;
  vertical-align: middle;
  content: url("../img/medal.png");
}
.summary .topLeagues tr:nth-child(3) td:nth-child(1)::before {
  display: inline-block;
  vertical-align: middle;
  content: url("../img/medal2.png");
}
.summary .topLeagues tr:nth-child(4) td:nth-child(1)::before {
  display: inline-block;
  vertical-align: middle;
  content: url("../img/medal3.png");
}
.summary .topTeams {
  table-layout: auto;
  width: 100%;
  text-align: center;
  font-size: 1.25em;
  border-collapse: collapse;
}
.summary .topTeams img {
  width: 32px;
  height: 32px;
}
.summary .topTeams th {
  background-color: #2ECC71;
}
.summary .topTeams td {
  padding-top: 5px;
}
.summary .topTeams th:nth-child(2) {
  border-left: 1px solid #a7b5be;
  border-right: 1px solid #a7b5be;
}
.summary .topTeams tr:nth-child(-n+6) td:nth-child(1) {
  border-right: 1px solid;
  border-bottom: 1px solid;
}
.summary .topTeams tr:nth-child(-n+6) td:nth-child(2) {
  border-bottom: 1px solid;
}
.summary .topTeams tr:nth-child(-n+6) td:nth-child(3) {
  border-right: 1px solid;
  border-bottom: 1px solid;
}
.summary .topTeams tr:nth-child(-n+6) td:nth-child(4) {
  border-bottom: 1px solid;
}
.summary .topTeams tr:nth-child(2) td:nth-child(1)::before {
  display: inline-block;
  vertical-align: middle;
  content: url("../img/medal.png");
}
.summary .topTeams tr:nth-child(3) td:nth-child(1)::before {
  display: inline-block;
  vertical-align: middle;
  content: url("../img/medal2.png");
}
.summary .topTeams tr:nth-child(4) td:nth-child(1)::before {
  display: inline-block;
  vertical-align: middle;
  content: url("../img/medal3.png");
}

.forgot {
  margin: 200px 0px 200px 0px;
}
.forgot__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forgot__block input {
  height: 50px;
  width: 90%;
  border: 1px solid #a7b5be;
  border-radius: 15px;
  margin: 5px 0px 5px 0px;
  padding-left: 10px;
}
.forgot__after {
  display: none;
  flex-direction: column;
  align-items: center;
}
.forgot__after p {
  margin: 0;
}

.mainpage {
  /* make animation */
}
.mainpage button {
  width: 150px;
  height: 70px;
  border-radius: 15px;
  border: none;
  background-color: #2ECC71;
  color: #1C1C1E;
  font-size: 1.5em;
}

.about, .how {
  margin-right: 5px;
}

/*# sourceMappingURL=style.css.map */
