.vscode
/img

# web
/viewstat/save.json
.env
vendor
/website/src/img/admin.png
package-lock.json
website/node_modules

# desktop
__pycache__
viewstat/build
viewstat/dist
viewstat/logo.ico
viewstat/Statsview.spec
view_backup