.vscode
__pycache__
/img
/mobile
/viewstat/save.json
.env
vendor
composer.json
composer.lock
/website/src/img/admin.png
package-lock.json
website/node_modules
viewstat/build
viewstat/dist
viewstat/logo.ico
viewstat/Statsview.spec