@use 'varibles' as *;

:root{
    font-size: 87.5%;
    font-family: $mainFont;
    box-sizing: border-box;
    color: $fontColor;
}
*, *::before, *::after{
    box-sizing: inherit;
}
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: $secondaryColor;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}
main{
    flex: 1;
    margin: 150px 0px 100px 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $mainFont;
    margin: 3%;
    text-wrap: nowrap;

    @media (max-width: 400px) {
        text-wrap: wrap;
        text-align: center;
    }
}
section > p{
    margin-left: 1em;
}

select{
    background-color: $darkerWhite;
}

footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 5px 30px 5px;
    background-color: $fifthColor;

    img{
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }

    a:first-child{
        width: 40px;
        height: 40px;
    }

    div{
        display: flex;
        flex-direction: column;
        justify-content: center;

        a{
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

input[type='submit'], input[type='button'], button{
    cursor: pointer;
}