@use 'varibles' as *;

.forgot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; 

    

    &__block{
        display: flex;
        flex-direction: column;
        align-items: center;
        input{
            height: 50px;
            width: 90%;
            border: 1px solid $secondaryColor;
            border-radius: 15px;
            margin: 5px 0px 5px 0px;
            padding-left: 10px;

            @media (min-width: $tabletBreakPiont){
                width: 60%;
            }
            @media (min-width: $laptopBreakPoint) {
                width: 25%;
            }
        }
    }
    &__after{
        display: none;
        flex-direction: column;
        align-items: center;

        p{
            margin: 0;
        }
    }
}