@use 'varibles' as *;
.mainpage{
    margin-top: 0;
}

.mainpage > header{
    width: 100%;
    height: 300px;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    align-self: center;
    color: $darkerWhite;
    
    @media (min-width: $laptopBreakPoint) {
        height: 40vh;

        h1{
            font-size: 4em;
        }
    }
}

.mainpage button{
    width: 150px;
    height: 70px;
    border-radius: 15px;
    border: none;
    background-color: $primaryColor;
    color: $fontColor;
    font-size: 1.5em;
    /* make animation */
}

.cookie-banner{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    background: $sixthColor;
    z-index: 1;

    &__buttons{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        button{
            margin: 10px;
            height: 50px !important;
        }
        
        #accept{
            background-color: $primaryColor;
        }
    }

    p{
        margin: 19px 10px 19px 10px;
        font-size: 1.35em;
        color: $darkerWhite;

    }
    a{
        margin: 0px 10px;
        text-decoration:  underline dotted;
        font-size: 1.35em;
    }
}

.about, .how{
    display: flex;
    flex-direction: column;
    margin: auto 14px;

    .crop::after, .frame::after{
        content: attr(data-diag);
        position: absolute;
        left: 60%;
        top: 97%;
        width: 200px;
        white-space: nowrap;
        text-align: center;
        color: $darkerWhite;
        background-color: $fifthColor;
        border-radius: 12px;
        transition: opacity 0.5s ease;
        @media (min-width: $laptopBreakPoint) {
            font-size: 1.25rem;
            width: 250px;
            left: 50%;
            top: 95%;
            opacity: 0;
        }
    }
    .crop:hover, .frame:hover{
        &::after{
            opacity: 1;
        }
    }

    @media (min-width: $tabletBreakPiont) {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       gap: 10px;
       grid-auto-rows: minmax(100px, auto);
       align-items: center;

        header{
            grid-column: 1/4;
            grid-row: 1;
        }
        p{
            line-height: 25px;
        }
    }
    @media (min-width: $laptopBreakPoint) {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        grid-auto-rows: minmax(100px, auto);
        align-items: center;
        p{
            font-size: 1.5rem;
            line-height: 30px;
        }
    }
}

.about{
    .crop{
        width: 500px;
        height: 350px;
        background-image: url('../img/appscreen.png');
        transform: scale(0.7);
        background-position: -260px -50px;
        background-repeat: no-repeat;
        align-self: center;
        border: 10px solid $fifthColor;
        border-radius: 15px;

        @media (min-width: $laptopBreakPoint) {
            transform: scale(1);
            justify-content: center;
            align-self: center;
        }
    }

    @media (min-width: $tabletBreakPiont) {
        p{
            grid-column: 1/3;
            grid-row: 2;
        }
        .crop{
            grid-column: 3;
            grid-row: 2;
        }
    }
    @media (min-width: $laptopBreakPoint) {
        p{
            grid-column: 1;
            grid-row: 2;
        }
        .crop{
            grid-column: 2;
            grid-row: 2;
            margin-left: 150px;
        }
    }
}
.how{
    .frame{
        width: 500px;
        height: 290px;
        background-image: url('../img/appscreen2.png');
        transform: scale(0.7);
        background-size: 650px auto;
        background-position: -75px -10px;
        background-repeat: no-repeat;
        align-self: center;
        border: 10px solid $fifthColor;
        border-radius: 15px;

        @media (min-width: $laptopBreakPoint) {
            transform: scale(1.5);
            justify-content: center;
            align-self: center;
        }
    }

    @media (min-width: $tabletBreakPiont) {
        p{
            grid-column: 2/4;
            grid-row: 2;
        }
        .frame{
            grid-column: 1;
            grid-row: 2;
        }
    }
    @media (min-width: $laptopBreakPoint) {
        p{
            grid-column: 2;
            grid-row: 2;
        }
        .frame{
            grid-column: 1;
            grid-row: 2;
            margin-left: 150px;
        }
    }
}