@use 'varibles.scss' as *;

main{
    margin: 150px 0px 100px 0px;
}

section > p{
    margin-left: 1em;
}
.sign{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 20px 0px;
    height: auto;

    input{
        height: 50px;
        width: 90%;
        border: 1px solid $secondaryColor;
        border-radius: 15px;
    }


    p{
        margin: 0;
        font-size: 1.5rem;
    }
    p > input{
        height: 20px;
        width: auto;
    }
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 20px 0px;
    
    input{
        height: 50px;
        width: 90%;
        border: 1px solid $secondaryColor;
        border-radius: 15px;

        
    }
    input[type="text"], input[type="password"]{
        padding-left: 10px;
    }


    p > input{
        height: 20px;
        width: auto;
    }

    a{
        margin: 5px;
    }
}