@use 'varibles.scss' as *;

.sign, .sign__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 20px 0px;
    height: auto;

    input{
        height: 50px;
        width: 90%;
        border: 1px solid $secondaryColor;
        border-radius: 15px;
        margin: 5px 0px 5px 0px;
        padding-left: 10px;
    }
    

    p{
        margin: 0;
        font-size: 1.5rem;
    }


    div > input{
        height: 20px;
        width: 20px;
    }
}
.sign{
    &::before{
        position: relative;
        content: '';
        display: block;
        width: 90%;
        height: 0.25em;
        background: $fifthColor;
    }
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 20px 0px;
    
    input{
        height: 50px;
        width: 90%;
        border: 1px solid $secondaryColor;
        border-radius: 15px;
        margin: 5px 0px 5px 0px;
    }
    input[type="text"], input[type="password"]{
        padding-left: 10px;
    }

    &__checkboxes{
        width: 100%;
        padding: 0px 25px 0px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;


        input{
            height: 20px;
            width: 20px;
        }

        &-remember, &-showpassword{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
            input, p{
                margin: 0px 5px 0px 0px;
            }
        }
    }

    a{
        margin: 5px;
    }
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;

    input{
        height: 50px;
        width: 90%;
        border: 1px solid $secondaryColor;
        border-radius: 15px;
        margin: 0px 0px 15px 0px;
        padding-left: 10px;
    }
}

.personal{
    display: flex;
    flex-direction: column;

    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        div{
            font-size: 1.5em;
            border: none;
            outline: none;
            box-shadow: none;
            text-decoration: none;
            background: transparent;
        }
        div[contenteditable="true"]::after{
                content: '';
                position: relative;
                display: block;
                width: 100px;
                height: 5px;
                background: $fifthColor;

        }
        
        img:nth-child(2){
            position: relative;
            top: -25px;
            left: 40px;
        }
        img:last-child{
            position: relative;
            top: -25px;
            left: 50px;
            scale: 90%;
        }
    }

    &__mail, &__pass{
        display: flex;
        flex-direction: row;


        input{
            height: 50px;
            margin: 10px 0px 10px 30px;
            padding: 10px;
            border-radius: 15px;
        }
        input:disabled{
            filter: brightness(0.5);
            color: $fifthColor;
        }
        button{
            position: relative;
            top: 10px;
            left: 50px;
            height: 50px;
            border-radius: 15px;
            background: transparent;
            border: none;
        }

        .repeat{
            position: relative;
            top: 70px;
            right: 222px;
        }

        .cancel{
            position: relative;
            top: 10px;
            left: 30px;
        }
        .confirm{
            position: relative;
            top: 10px;
            left: 50px;
        }
        &-cancel{
            top: 80px !important;
            left: -218px !important;
        }
        &-confirm{
            top: 80px !important;
            left: -198px !important;
        }
    }
    #show{
        height: 24px;
        position: relative;
        top: 20px;
        left: -160px;
    }
}