$mainFont: Roboto, sans-serif;

$fifthColor: #73787a;
$secondaryColor: #a7b5be;
$darkerWhite:  #f0f3f4;
$thirdCOlor: #00BCD4;
$fontColor: #1C1C1E;
$primaryColor: #2ECC71;
$sixthColor: #148042;
$greenColor: #20A95A;

$tabletBreakPiont: 768px;
$laptopBreakPoint: 1025px;