*{
    width: auto;
    height: auto;
    background-color: #1f1f1f;
    color: #cdcdcd;
}
.container{
    text-align: center;
}
button{
    background-color: #848484;
}
input::placeholder{
    color: #cdcdcd;
}
select{
    width: 50px;
    height: 25px;
}
select{
    margin: 15px;
    width: 70px;
    text-align: center;
}